{% load static %}
<!DOCTYPE html>
<html class="loading" lang="ru" data-textdirection="ltr">
<!-- BEGIN: Head-->
{% block head %}
    {% include 'admin_panel/headload.html' %}
{% endblock head %}
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    {% block content %}
    {% include 'admin_panel/headerFORM.html' %}
    {% endblock %}
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    {% block menu %}
    {% include 'admin_panel/mainMenuFORM.html' %}
    {% endblock menu %}
   <!-- END: Main Menu-->
     <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Column selectors with Export Options and print table -->
                <section id="column-selectors">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Заявки</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                            <table class="table table-striped dataex-html5-selectors">
                                                <thead>
                                                    <tr>
														<th>Название</th>
                                                        <th>Ссылка</th>
                                                        <th>Редактирование</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for qrpage in qrcodes %}
                                                    <tr>
                                                        <td>{{ qrpage.name }}</td>
                                                        <td><a href="{% url 'qr-page' qrpage.unique_id  %}">he</a></td>
                                                        <td><a href=""><i class="bx bx-edit-alt"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Column selectors with Export Options and print table -->
        </div>
        </div>
    </div>
    <!-- END: Content-->
	<!-- BEGIN: Footer-->
    {% block footer %}
    {% include 'admin_panel/footerFORM.html' %}
    {% endblock footer %}
    <!-- END: Footer-->
    {% block jsLoader %}
    {% include 'admin_panel/jsLoader.html' %}
    {% endblock jsLoader %}
        <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin_panel/app-assets/js/scripts/datatables/datatable.js' %}"></script>
    <!-- END: Page JS-->

	</body>
	<!-- END: Body-->
	</html>