{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

{% block head %}
    {% include 'admin_panel/headload.html' %}
{% endblock head %}
<!-- END: Head-->
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

     <!-- BEGIN: Header-->
    {% block content %}
    {% include 'admin_panel/headerFORM.html' %}
    {% endblock %}
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    {% block menu %}
    {% include 'admin_panel/mainMenuFORM.html' %}
    {% endblock menu %}
   <!-- END: Main Menu-->



    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title float-left pr-1 mb-0">Компания</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- account setting page start -->
                <section id="page-account-settings">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">

                                <!-- right content section -->
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-panel active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">

                                                        <form action="{% url 'qr-page-add' %}" method="POST" enctype="multipart/form-data">
                                                             {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Название для Страницы</label>
                                                                            <input type="text" class="form-control" name="page_name" id="page_name" placeholder="Название страницы" value="" required data-validation-required-message="Заполните это поле">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                            <label>Текст</label>
                                                                            <textarea class="form-control" id="basicTextarea" name="page_text" rows="3" placeholder="Текст"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="controls">
                                                                             <label for="select-files" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                                <span>Загрузить аудио</span>
                                                                                <input id="select-files" name="page_audio" type="file">
                                                                             </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">Отправить</button>
                                                                    <button type="reset" class="btn btn-light mb-1">Закрыть</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- account setting page ends -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
     {% block footer %}
     {% include 'admin_panel/footerFORM.html' %}
     {% endblock footer %}
    <!-- END: Footer-->



    {% block jsLoader %}
    {% include 'admin_panel/jsLoader.html' %}
    {% endblock jsLoader %}

</body>
<!-- END: Body-->

</html>