{% block footer %}
{% load static %}
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-left d-inline-block">2020 &copy; DASICK</span><span class="float-right d-sm-inline-block d-none">Сделано с <i class="bx bxs-heart pink mx-50 font-small-3"></i> by <a class="text-uppercase" href="" target="_blank">DASICK</a></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
        </p>
    </footer>
{% endblock footer %}