{% block content %}
{% load static %}
<li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
 <div class="user-nav d-sm-flex d-none"><span class="user-name">{{user}}</span><span class="user-status text-muted">{{user.company.info.name }}</span></div><span><img class="round" src="{% static 'admin_panel/app-assets/images/portrait/small/avatar-s-11.jpg' %}" alt="avatar" height="40" width="40"></span>
</a>

<div class="dropdown-menu dropdown-menu-right pb-0">
     {% if user.card.role == 'ADMINISTRATOR' or user.card.role == 'MODERATOR' %}
    <a class="dropdown-item" href="{% url 'employee-edit' user.pk %}"><i class="bx bx-user mr-50"></i> Редактировать</a>
    <div class="dropdown-divider mb-0"></div>
       {% endif %}
    <a class="dropdown-item" href=""><i class="bx bx-power-off mr-50"></i> Выйти</a>
</div>
</li>
{% endblock %}  