   {% block menu %}
   {% load static %}
<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'panel' %}">
                        <div class="brand-logo"><img class="logo" src="{% static 'admin_panel/app-assets/images/logo/logo.png' %}" /></div>
                        <h2 class="brand-text mb-0">KEK</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">


                <li class="active nav-item"><a href="{% url 'panel' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Главная</span></a>
                </li>
                <li class=" navigation-header"><span>QR</span>
                </li>
                <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">QR</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'qr-generate' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Сгенерировать QR</span></a>
                        </li>
                        <li><a href="{% url 'qr-page-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Создать QR страницу</span></a>
                        </li>
                        <li><a href="{% url 'qr-pages' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Edit">Список QR - страниц</span></a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
    <!-- END: Main Menu-->
   {% endblock %}