{% load static %}
<!DOCTYPE html>
<html lang="zxx">
	<head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Dasick test qr page</title>
	</head>
    {% block cssloader %}
        {% include 'admin_panel/cssloader.html' %}
    {% endblock cssloader %}
	<body class="home-green-color">
        <audio id="plyr-audio-player" class="audio-player" controls preload="auto">
            <source src="http://piratia-kazakhstan.cf/media/{{ qr.audio }}" type="audio/ogg" />
        </audio>
        <br>
        <label for=""><b>TEXT:</b></label>
        <p>{{ qr.text }}</p>
        <br>
        <label for=""><b>KARTINKA:</b></label>
        <br>
        <img src="/media/{{ qr.image }}" alt="">
    {% block jsloader %}
        {% include 'admin_panel/jsLoader.html' %}
    {% endblock jsloader %}
	</body>
</html>