{% block head %}
{% load static %}

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Medical</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="{% static 'front/images/fevicon.ico.png' %}" type="image/x-icon" />
   <link rel="apple-touch-icon" href="{% static 'front/images/apple-touch-icon.png' %}">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'front/style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'front/css/colors.css' %}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{% static 'front/css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'front/css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'front/css/custom.css' %}">
   <!-- Modernizer for Portfolio -->
   <script src="{% static 'front/js/modernizer.js' %}"></script>
   <!-- [if lt IE 9] -->
{% endblock %}